.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {
    margin-top: 10px !important;
}
.ui-widget-content, .bg{
    background-color: red !important;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}

fieldset{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 500px;
    color:black;
}

td{
    width: 500px;
}